html, body {
    background-color: white;
    color: black;
}


@media (min-width: 1200px) {
    .center {
        width: 1170px;
        height: 195px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -585px;
        margin-top: -97.5px;
    }
}

@media (min-width: 992px) {

    .center {
        width: 970px;
        height: 195px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -485px;
        margin-top: -97.5px;
    }

}

@media (min-width: 758px) {

    .center {
        width: 750px;
        height: 195px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -375px;
        margin-top: -97.5px;
    }

}

@media (max-width: 768px) {
    .center {
        width: 80%;
        height: 195px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -40%;
        margin-top: -97.5px;
    }
}

.right {
    float: right;
}

.name {
    font-size: 36px;
    padding : 5px 5px 5px 5px;
}

.grade100 {
    color: rgb(87, 134, 77);
}

.grade101 {
    color: rgb(117, 27, 57);
}

.grade102 {
    color: rgb(36, 132, 171);
}

.grade103 {
    color: rgb(196, 138, 31);
}

#result {
    max-width: 1000px;
    height: 600px;
    margin: auto;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }